@keyframes flyInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes flyInFromRight {
  from {
    transform: translateX(300%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  font-size: 3.5em;
  text-align: center;
  color: white;
  font-weight: bold;
  animation: flyInFromLeft 1s ease-out forwards;
  margin: 0 0.5em;
}

@keyframes pulse {
  0%, 100% {
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000, 0 0 5px rgba(255, 255, 255, 0.1);
  }
  20% {
    color: #F8F8F8;
    text-shadow: 2px 2px 2px #000000, 0 0 8px rgba(255, 255, 255, 0.2);
  }
  40% {
    color: #F0F0F0;
    text-shadow: 2px 2px 2px #000000, 0 0 12px rgba(255, 255, 255, 0.3);
  }
  50% {
    color: #E8E8E8;
    text-shadow: 2px 2px 2px #000000, 0 0 15px rgba(255, 255, 255, 0.4);
  }
  60% {
    color: #F0F0F0;
    text-shadow: 2px 2px 2px #000000, 0 0 12px rgba(255, 255, 255, 0.3);
  }
  80% {
    color: #F8F8F8;
    text-shadow: 2px 2px 2px #000000, 0 0 8px rgba(255, 255, 255, 0.2);
  }
}

.productName {
  color: #FFFFFF;
  transition: color 0.3s ease;
  animation: pulse 10s ease-in-out infinite;
  text-shadow: 2px 2px 2px #000000;
}

.summaryDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.inlineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divider {
  width: 70%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 2em auto 1em auto;
}

.trustedBySection {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  margin-top: 1em;
}

.trustedByText {
  margin-right: 0.5em;
}

.trustedBySection .Typewriter {
  color: white;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .title {
    font-size: 3em;
  }
  .trustedBySection {
    font-size: 1.5em;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .title {
    font-size: 4em;
  }
  .trustedBySection {
    font-size: 1.5em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 5em;
  }
  .trustedBySection {
    font-size: 2em;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .title {
    font-size: 6em;
  }
  .trustedBySection {
    font-size: 3em;
  }
}

@media (min-width: 1441px) {
  .title {
    font-size: 10em;
  }
  .trustedBySection {
    font-size: 4em;
  }
}