@keyframes flyInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  @keyframes flyInFromRight {
    from {
      transform: translateX(300%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .title {
    font-size: 6em; /* Default font size for all screen sizes */
    text-align: center;
    font-weight: bold;
    animation: flyInFromLeft 1s ease-out forwards;
    margin: 0 1em 0 1em;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 5.5em;
    }
  }
  
  @media (min-width: 1024px) {
    .title {
      font-size: 6.5em;
    }
  }
  
  @media (min-width: 1440px) {
    .title {
      font-size: 6em;
    }
  }
  
  @media (min-width: 2560px) {
    .title {
      font-size: 8.5em;
    }
  }
  
  .green-text {
    color: #1a4d2e;
    transition: color 0.3s ease;
  }
  
  .green-text:hover {
    color: #4f6f52;
  }
  
  .summary-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  
  .inline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  