/* Common colors
#f5efe6 - Light Beige
#1a4d2e - Dark Green
#4f6f52 - Light Green
#333 - Dark Text
#ffffff - White
*/

/* General Styles */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  padding: 10% 15%;
  text-align: center;
  animation: fadeIn 1s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullHeight {
  min-height: 100vh;
}

.title {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.text {
  font-size: 2.5em;
  margin-bottom: 2rem;
  line-height: 1.75;
}

.highlight {
  font-weight: bold;
  color: #f5efe6;
}

/* Text Colors */
.greenText {
  color: #1a4d2e;
}

.lightText {
  color: #f5efe6;
}

.whiteText {
  color: #ffffff;
}

.darkText {
  color: #333;
}

/* Background Styles */
.lightBg {
  background: linear-gradient(-45deg, #ffebcc, #ffdeac, #ffeccf, #ffebcc);
  background-size: 500% 500%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

.darkGreenBg {
  background: linear-gradient(-45deg, #1f4313, #0c2022, #1a4d2e, #051b11);
  background-size: 500% 500%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

.lightGreenBg {
  background: linear-gradient(-45deg, #4a7c59, #1d5e40, #4e713a, #284b2f);
  background-size: 500% 500%;
  animation: gradient 30s ease infinite;
}

/* Features Styles */
.featuresContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.feature {
  position: relative;
  width: 12em;
  height: 320px;
  background: #ffeed4;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1),
              0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  padding: 0.75rem;
  transition: all 0.5s;
  overflow: hidden;
}

.feature::before,
.feature::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  background-color: #fff4e3;
  transition: all 0.5s;
}

.feature::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.feature::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: normal;
  color: #1a4d2e;
  opacity: 0;
}

.feature:hover::before,
.feature:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.feature:hover::after {
  opacity: 1;
  content: attr(data-hover);
}

.featureTitle {
  position: relative;
  z-index: 2;
  font-size: 3rem;
  transition: opacity 0.5s;
}

.featureText {
  position: absolute;
  z-index: 2;
  font-size: 1.2em;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(120deg, #1d462d, #4f6f52);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  transition: opacity 0.5s, visibility 0.5s;
  text-align: center;
  padding: 1rem;
}

.feature:hover .featureTitle {
  opacity: 0;
}

.feature:hover .featureText {
  opacity: 1;
  visibility: visible;
  animation: colorSweep 1s ease forwards;
}

/* Card Styles */
.cardContainer {
  width: 75%;
  height: 75%;
  margin: 0 auto;
  cursor: pointer;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1a4d2e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  transition: opacity 0.5s ease;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0.2;  /* Change this value to control how faded the content becomes */
}



.headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1a4d2e;
  flex-shrink: 0;
}


.memberName {
  font-size: 4rem;
  font-weight: bold;
  color: black;
}

.memberRole {
  font-size: 2rem;
  font-weight: bold;
}

.memberBlurb {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.textContent {
  margin-left: 1rem;
  flex: 1;
}

/* LinkedIn Icon */
.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
  margin-left: 1rem;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colorSweep {
  0% {
    opacity: 0;
    background-position: 200% 0;
  }
  50% {
    opacity: 1;
    background-position: 100% 0;
  }
  100% {
    opacity: 1;
    background-position: 0 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}