.snap-scroll-container {
    overflow-y: scroll; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory; /* Enable snap scrolling on the y-axis */
    width: 100%; /* Ensure it takes up the full width to prevent unexpected behavior */
    background: #E8DFCA;
  }
  
  .div-view {
    display: flex;
    padding-top: 10%;
    padding-bottom: 5%;
    background: linear-gradient(-45deg, #1f4313, #0c2022, #1a4d2e, #051b11);
    background-size: 500% 500%;
    animation: gradient 30s ease infinite;
    height: 100vh;    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
    scroll-snap-align: start; /* Align the top of the element with the snap container's scrollport */
    width: 100%; /* Ensure it takes up the full width */
  }
  
  .div-view.custom-padding {
    padding-top: var(--custom-padding-top, 10%);
  }
  
  .div-view.custom-background {
    background: var(--custom-background-color, #F5EFE6);
  }
  
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}