@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .snap-scroll-container {
    overflow-y: scroll; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory; /* Enable snap scrolling on the y-axis */
    width: 100%; /* Ensure it takes up the full width to prevent unexpected behavior */
    background: #E8DFCA;
  }
  
  .div-view {
    display: flex;
    padding-top: 10%;
    padding-bottom: 5%;
    background: #F5EFE6;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
    scroll-snap-align: start; /* Align the top of the element with the snap container's scrollport */
    width: 100%; /* Ensure it takes up the full width */
  }
  
  .form-container {
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    background-color: #4f6f52;
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease-in;
  }
  
  .styled-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .form-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 3rem;
  }
  
  .form-description {
    text-align: center;
    color: #f5efe6;
    margin-bottom: 10px;
  }
  
  .hr {
    margin-bottom: 10px;
  }
  
  .form-group-inline {
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .inline-field {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
  
  @media (max-width: 600px) {
    .inline-field {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  .form-group {
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #e8dfca;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    height: 150px; /* Make the message box larger */
    box-sizing: border-box;
  }
  
  .button {
    padding: 10px;
    font-size: 16px;
    color: #f5efe6;
    background-color: #1a4d2e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #153c24;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .modal-content h2 {
    margin-bottom: 20px; /* Add margin to increase space below the heading */
  }
  
  .modal-content p {
    margin-bottom: 30px; /* Add margin to increase space below the paragraph */
  }
  
  .modal-content button {
    width: 100%;
  }
  