# Ignore environment files and directories
.env
env

# Ignore all __pycache__ directories recursively
__pycache__/

# Ensure that all __pycache__ directories at any level are ignored
**/__pycache__/

/logs