# Ignore environment files and directories
.env
env/

# Ignore all __pycache__ directories recursively
__pycache__/
**/__pycache__/

# Ignore all pyc files
*.pyc

# Ignore specific database files
database/.idea/