# Ignore environment files and directories
.env
env/

logs/__name__.log.jsonl

# Ignore all __pycache__ directories recursively
__pycache__/
**/__pycache__/
/app/__pycache__
app/blueprints/operations/__pycache__
app/blueprints/llmCalls/__pycache__
app/blueprints/patentRetrieval/__pycache__

# Ignore all pyc files
*.pyc

# Ignore specific database files
database/.idea/
test-results.txt
coverage.xml