/* Fade-in animation */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background: white;
    margin: 5% 10%;
    padding: 20px;
  }
  
  .search-textarea {
    padding: 10px 20px;
    border-radius: 20px;
    width: 80%;
    height: 100px;
    resize: none;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar-title {
    margin: 0;
    color: black;
    font-size: 40px;
    margin-right: -10%;
    text-align: space-between;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .search-button:hover {
    background-color: #333;
    color: #ddd;
  }
  
  .colored-div {
    background: #f5efe6;
    padding-top: 5%;
    min-height: 110vh;
  }
  
  .animation-container {
    animation: fadeIn 1s;
  }
  
  .metrics-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 5%;
    margin-bottom: 0;
    padding-bottom: 5%;
    animation: fadeIn 1s ease-out;
  }
  
  .metrics-title-container {
    display: flex;
    justify-content: center;
  }
  