.styled-footer {
    background-color: #000000; /* Dark background for the footer */
    color: white; /* Text color */
    text-align: center; /* Center-align the text */
    padding: 20px 0; /* Padding above and below the text */
    bottom: 0; /* Stick to the bottom */
    width: 100%; /* Full width */
  }
  