.colored_div {
  background: #f5efe6;
  padding-top: 5%;
  min-height: 100vh;
}

.animation_container {
  animation: fadeIn 1s;
}

.search_bar_title {
  margin: 0;
  color: black;
  font-size: 40px;
  line-height: 1.2;
  white-space: pre-wrap;
  text-align: left;
  flex-shrink: 0;
  margin-right: 20px;
}
/* SearchBar.module.css */
.search_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5%;
  background-color: #CCCC;
  position: relative;
  border: 1px;
  border-radius: 20px;
}

.search_container:focus-within {
  border: 1px solid #8AA76F;
  box-shadow: 0 0 0 2px #8AA76F;
}

.search_textarea {
  padding: 10px 20px;
  border-radius: 20px 0 0 20px; /* Rounded left corners */
  background-color: #CCCC;
  margin: 0; /* Remove margin */
  flex-grow: 1;
  height: 100px;
  resize: none;
  border: none; /* Remove borders */
  outline: none; /* Remove default focus outline */
  box-shadow: none;
}

.search_button {
  padding: 43px 20px;
  background-color: #9DC183;
  box-shadow: none;
  color: white;
  border: none;
  border-radius: 0 20px 20px 0; /* Rounded right corners */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.search_button:hover {
  background-color: #79915E;
  color: #ddd;
}

/* Slider Styles */
.slider_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider_label {
  font-size: 16px;
  color: black;
  margin-bottom: 5px;
}

.slider {
  width: 80%;
}

.slider_value {
  margin-bottom: 10px;
  font-size: 16px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .search_container {
    align-items: stretch;
  }

  .search_bar_title {
    margin-bottom: 10px;
  }

  .search_input_wrapper {
    flex-direction: column;
  }

  .search_button {
    margin-top: 10px;
  }

  .slider {
    width: 100%;
  }
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 0px 20px; 
  text-align: center;
}

.headerTitle {
  font-size: 3em;
  margin: 0;
}

.searchCard {
  background: white;
  border-radius: 20px;
  padding: 10px;
  margin: 5%;
}