.patentInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.textArea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.addButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.addButton:hover {
    background-color: #0056b3;
}

.boxContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.inputBox {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.inputBox span {
    margin-right: 10px;
}

.deleteButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #ff1a1a;
}

.downloadButton {
    background-color: #1a4d2e;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.downloadButton:hover {
    background-color: #388e3c;
    transform: scale(1.1);
}

.spinnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.searchCard {
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin: 5%;
}

.patentInput {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.notFoundContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #f00;
    border-radius: 4px;
    background-color: #ffe6e6;
}

.notFoundContainer h3 {
    margin: 0 0 10px 0;
    color: #f00;
}

.notFoundContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notFoundContainer li {
    color: #f00;
}