.div-view {
    display: flex;
    padding-top: var(--padding-top, 10%);
    padding-bottom: 5%;
    background: var(--background-color, #F5EFE6);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
    width: 100%; /* Ensure it takes up the full width */
  }
  