
.dashboardContainer {
    padding-top: 10vh;
    display: flex;
    background-color: #F5EFE6;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-content: space-evenly;
    padding-left: 8%;
    padding-right: 8%;
    flex-wrap: wrap;
}

#link {
    text-decoration: none;
}

.styledCard {
    margin: 1.3vw;
    width: 20vw;
    height: 37vh;
    padding: 1vw;
    background-color: #ffffff;
    border-top: 8px solid #1A4D2E;
    color: #153C24;
    font-size: 1.5rem;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform .25s, z-index .25s, margin .25s;
    position: relative;
    z-index: 0;
}

.styledCard a {
    padding-top: 2vh;
    text-decoration: none;
    color: inherit;
}

.styledCard img.cardImage {
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 7.5vh;
    height: auto;
}

.styledCard:hover {
    transform: scale(1.15);
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.cardDescription {
    color: #4F6F52;
    padding: .8vw 1vw;
    font-size: 1rem;
}

@media (max-width: 900px) {
    .cardDescription {
        font-size: .75rem;
    }
}

@media (max-width: 500px) {
    .styledCard {
        width: 62vw;
        height: 42vh;
        margin-top: 6vh;
        margin-bottom: 1vh;
    }
    .cardDescription {
        padding-top: 1vh;
        font-size: .9rem;
    }
}

@media (max-height: 750px) {
    .styledCard  {
        font-size: 1rem;
    }
    
}